#containerTree {
    height: 200px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
}

div#containerTree ul {
    list-style: none;
    width: 100%;
    padding-left: 0px;
    clear: both;
}

div#containerTree div.content:hover{
    background: #eee;
    cursor: default;
}

.item-icon {
    width: 18px;
    height: 18px;
    // background: url('../images/glyphicons-halflings.png') 0 0;
}

.item-container {
   margin-left: 5px;
   display: flex;
   flex-flow: column;
}

div#containerTree div {
    height: fit-content;
}

.collapse-indicator{
   width: 16px;
       height: 16px;
       background: url(../images/glyphicons-qtest.png) -136px -180px;
}

.loading-indicator {
    width: 16px;
    height: 16px;
    background: url(../images/spinner.gif) 0px 0px;
}

.release-icon {
    width: 18px;
    height: 15px;
    background: url(../images/glyphicons-qtest.png) -596px -150px;
    margin: 0 1px;
}

.test-suite-icon {
    width: 19px;
    height: 15px;
    background: url(../images/glyphicons-qtest.png) -579px -150px;
    margin: 0 1px;
}

.test-cycle-icon {
    width: 22px;
    height: 15px;
    background: url(../images/glyphicons-qtest.png) -118px -180px;
    margin: 0 1px;
}

.expand-indicator{
    width: 16px;
    height: 16px;
    background: url(../images/glyphicons-qtest.png) -154px -180px;
}

.empty-indicator {
   width: 16px;
}

div#containerTree div.sub-item {
    height: fit-content;
    margin-left: 15px;
}

div#containerTree div.main-item {
    display: flex;
    padding: 5px;
}
div#containerTree div.content {
    margin-left: 2px;
    margin-top: -1px;
    padding: 0px 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#containerTree div[selected] {
    background-color: lightblue;
}

div#containerTree div[selected]:hover{
    background: lightblue;
}
.hidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.external-tool-config {
    width: 100%;
}
table.external-tool-config input[type="text"] {
    margin-left: 24px;
    width: 97%;
}
table.external-tool-config div.error {
    margin-left: 24px;
}